{% extends "base.html" %}
{% block content %}
<body>
<div class="header">
    <H1>Start</H1>
</div>
<div class="container-fluid">
    <section>
        <a>New Form:</a>
    </section>
    {% for item in items %}
    <div class="row">
        {{ item.name }}
    </div>
    {% endfor %}
    <div class="row">
        <form action="." method="POST">
            <textarea class="form-control" name="contents" placeholder="Enter a post!"></textarea>
            <input type="submit" value="Post comment">
        </form>
    </div>
</div>

</body>
{% endblock %}